*{margin:0; padding:0;}

.conchemimadre {
    display:inline-flex
}

.migagu img {
    height:auto;
    align-items:center
}

@media screen and (min-width: 900px) {

    .bienvenida img {
      width: 900px;
      height: auto;
  align-items: center;
    }
 
    .migagu img {
        width:500px
    }

  }
  

  @media screen and (max-width: 899px) {

    .bienvenida img {
      width: 500px;
      height: auto;
  align-items: center;
    }
 
    .migagu img {
        width:500px
    }

  }
  

  @media screen and (max-width: 700px) {

.bienvenida img, .migagu img{
    display:flex

  }
