*{margin:0; padding:0;}

.conchemimadre {
    display:inline-flex
}

.bienvenida, .migagu {
    width:50%
}

.migagu img {
    height:auto;
    align-items:center;
    padding: 10px;
}

.bienvenida img {
    max-width: 100%;
    height: auto;
}

.migagu img {
    max-width: 50%;
    height: auto;
}

@media screen and (max-width: 500px) {   
   .conchemimadre {display: block;} 
   .bienvenida, .migagu {
    width:80%
}
}
