*{margin:0; padding:0;}


@media screen and (min-width: 900px) {

    .bienvenida {
      width: 800px;
      height: auto;
  align-items: center;
    }
 
  }
  

  @media screen and (max-width: 899px) {

    .bienvenida {
      width: 500px;
      height: auto;
  align-items: center;
    }
 
  }
  
